<div class="table-responsive" style="margin-bottom: 100px">
  <table class="table table-light table-bordered table-hover ">
    <thead>
    <tr class="th calendar">
      <th scope="col" class="skinny-car">Book Date</th>
      <th scope="col" class="skinny-car">Order ID</th>
      <th scope="col" class="skinny-car">Car</th>
      <th scope="col" class="skinny-car">Delivery</th>
      <th scope="col" class="skinny-car">Order Dates</th>
      <th scope="col" class="skinny-car">Overall Cost</th>
    </tr>
    </thead>
    <tbody>
    <tr class="skinny-car">
      <td>07 Apr 2024</td>
      <td>#844436</td>
      <td>
        Default Auto
        BD AU 521
      </td>
      <td>
        Tbilisi
        Tbilisi
      </td>
      <td>
        5 Apr
        8 Apr
      </td>
      <td>0.00 $</td>
    </tr>
    </tbody>
  </table>
</div>


